.homeContent {
  position: relative;
}
.part1 {
  width: 1200px;
  position: relative;
  margin: 0 auto;
  height: 655px;
  background: url("../../assets/home-banner.png") no-repeat right;
}
.arrowWrap {
  position: absolute;
  text-align: right;
  top: 445px;
  left: 127px;
  img:not(:first-child) {
    position: absolute;
  }
  img:nth-child(2) {
    top: 100%;
    left: 50%;
  }
  img:nth-child(3) {
    top: 261px;
    right: 50%;
  }
  img:nth-child(4) {
    top: 261px;
    right: 1014px;
  }
  img:nth-child(5) {
    right: 855px;
    top: 769px;
  }
}
.info {
  font-size: 26px;
  font-weight: bold;
  line-height: 1.7;
  color: #474747;
  text-align: left;
  padding-top: 236px;
}
.title {
  display: flex;
  justify-content: flex-end;
  width: 1200px;
  margin: 0 auto;
  align-items: center;
  padding: 40px 0;
  text-align: right;
  font-size: 28px;
  font-weight: bold;
  color: #282828;
  .arrow {
    display: inline-block;
    margin: 0 15px;
    width: 23px;
    height: 21px;
    background: url("../../assets/arrow-right.png") no-repeat;
    background-size: contain;
  }
}
.title.left {
  justify-content: flex-start;
  .arrow {
    background: url("../../assets/arrow-left.png") no-repeat;
    background-size: contain;
  }
}
.part2 {
  position: relative;
  .inner {
    display: grid;
    grid-template-columns: repeat(3, 332px);
    justify-content: center;
    grid-gap: 60px;
    width: 100%;
    background-image: url('../../assets/feature-map.png');
    background-repeat: no-repeat;
    background-position: center 0;
    padding-top: 90px;
    background-size: auto 635px;
    > div:nth-child(1) {
      background: url('../../assets/feature-1.png') no-repeat;
    }
    > div:nth-child(2) {
      background: url('../../assets/feature-2.png') no-repeat;
    }
    > div:nth-child(3) {
      background: url('../../assets/feature-3.png') no-repeat;
    }
  }
}
.featureItem {
  display: flex;
  width: 332px;
  height: 432px;
  padding-top: 108px;
  flex-direction: column;
  > div:first-child {
    display: flex;
    justify-content: center;
    img {
      width: 68px;
      //height: 68px;
    }
  }
  > div:last-child {
    padding: 22px 64px 0 63px;
    line-height: 1.2;
  }
}

.part3 {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  img {
    margin: 5px 15px;
  }
  > div {
    font-size: 24px;
    font-weight: bold;
    color: rgba(4, 132, 128, 1);
    line-height: 1.6;
  }
  > div:first-child {
    width: 626px;
    height: 531px;
    background: url('../../assets/vision-bg.png') no-repeat;
    margin-right: 65px;
  }
}

.part4 {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  img {
    margin-left: 60px;
  }
  > div {
    font-size: 24px;
    font-weight: 600;
    color: rgba(4, 132, 128, 1);
    line-height: 1.63;
  }
}
.part5 {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  padding-left: 25px;
  > div {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    img {
      margin-bottom: 12px;
      width: 267px;
      height: 311px;
    }
  }
  ul {
    position: relative;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    padding-left: 26px;
    padding-top: 15px;
    margin: 0;
    li {
      position: relative;
      padding-left: 23px;
      &:before {
        content: '';
        position: absolute;
        width: 13px;
        height: 13px;
        border-radius: 100%;
        background: #000000;
        left: 0;
        top: 14px;
      }
      a {
        margin-left: 8px;
        color: #001EFF;
      }
    }
  }
}

.nameLine {
  width: 1200px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
  line-height: 30px;
  overflow: hidden;
  span {
    float: right;
    text-align: center;
    margin-right: 23px;
  }
}

.part6 {
  width: 1200px;
  margin: 0 auto;
  ul {
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    padding-left: 26px;
    li {
      position: relative;
      padding-left: 23px;
      font-size: 22px;
      color: #282828;
      font-weight: bold;
      div {
        color: #282828;
        font-size: 20px;
        font-weight: normal;
      }
      &:before {
        content: '';
        position: absolute;
        width: 13px;
        height: 13px;
        border-radius: 100%;
        background: #000000;
        left: 0;
        top: 14px;
      }
    }
  }
}

.careerTitle {
  margin: 50px auto 50px;
  font-size: 28px;
  font-family: Arial;
  text-align: center;
  span {
    position: relative;
    //display: inline-block;
    &:after {
      content: '';
      position: absolute;
      bottom: -15px;
      left: 47px;
      width: 26px;
      height: 11px;
      background: url("../../assets/career-icon.png");
      background-size: contain;
    }
  }
}
.careerContent {
  font-size: 22px;
  line-height: 1.5em;
  width: 1000px;
  margin: 0 auto;
}
.positionsTitle {
  width: 1200px;
  margin: 27px auto 20px;
  font-size: 30px;
  font-weight: bold;
}

.positionsWrap {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  & > div {
    display: flex;
    flex-direction: column;
    & > img {
      width: 298px;
      height: 197px;
    }
    .brief {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
      height: 78px;
      margin: 6px auto;
    }
    .date {
      display: flex;
      justify-content: space-around;
      font-size: 15px;
      align-items: center;
      color: #999;
      padding: 0 15px;
    }
  }
}
