
.homeContent {

}
.part1 {
  width: 1200px;
  margin: 0 auto;
  height: 744px;
  padding-top: 155px;
}
.info {
  font-size:28px;
  font-weight:bold;
  line-height: 42px;
  color: white;
  text-align: right;
}
.title {
  display: flex;
  justify-content: flex-end;
  width: 1200px;
  margin: 0 auto;
  align-items: center;
  padding: 46px 0 30px;
  text-align: right;
  font-size:32px;
  font-weight:bold;
  color: #282828;
  .line {
    display: inline-block;
    margin: 0 15px;
    width:143px;
    height:8px;
    background:rgba(40,40,40,1);
  }
}
.title.left {
  justify-content: flex-start;
}
.part2 {
  //background-color: rgb(14 154 146);
  //background-image: url("../../assets/feature-bg.png");
  //background-position: bottom;
  //padding-bottom: 36px;
  box-shadow: 0 -9px 15px -9px #000 inset;
  .inner {
    display: grid;
    grid-template-columns: repeat(3, 332px);
    justify-content: center;
    grid-gap: 60px;
    width: 100%;
    height: 680px;
    background-image: url("../../assets/feature-map.png");
    background-repeat: no-repeat;
    background-position: center 0;
    padding-top: 90px;
    >div:nth-child(1) {
      background-image: url("../../assets/feature-1.png");
    }
    >div:nth-child(2) {
      background-image: url("../../assets/feature-2.png");
    }
    >div:nth-child(3) {
      background-image: url("../../assets/feature-3.png");
    }
  }
  .title {
    color: white;
    justify-content: flex-start;
    .line {
      background: white;
    }
  }
}
.featureItem {
  display: flex;
  width: 332px;
  height: 432px;
  padding-top: 108px;
  flex-direction: column;
  >div:first-child {
    display: flex;
    justify-content: center;
    img {
      width: 68px;
      height: 68px;
    }
  }
  >div:last-child {
    padding: 0 64px;
    line-height: 1.2;
  }
}

.part3 {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  img {
    //margin-right: 65px;
  }
  >div {
    font-size:24px;
    font-weight:bold;
    color:rgba(4,132,128,1);
    line-height: 1.6;
  }
  >div:first-child {
    width: 626px;
    height: 531px;
    background: url("../../assets/vision-bg.png");
    padding: 7px 32px;
    margin-right: 65px;
  }
}

.part4 {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  img {
    margin-left: 150px;
  }
  >div {
    font-size:34px;
    font-weight:600;
    color:rgba(4,132,128,1);
    line-height: 1.63;
  }
}
.part5 {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  padding-left: 25px;
  >div {
    display: flex;
    flex-direction: column;
    font-size:19px;
    font-weight:600;
    line-height:30px;
    text-align: center;
    img {
      margin-bottom: 12px;
      width: 267px;
      height: 311px;
    }
  }
  ul {
    position: relative;
    font-size:20px;
    font-weight:400;
    line-height:40px;
    list-style: none;
    padding-left: 26px;
    li {
      position: relative;
      padding-left: 23px;
      &:before {
        content: '';
        position: absolute;
        width: 13px;
        height: 13px;
        border-radius: 100%;
        background: #000000;
        left: 0;
        top: 14px;
      }
      a {
        margin-left: 8px;
      }
    }
  }
}

.nameLine {
  width: 1200px;
  margin: 0 auto;
  font-size:19px;
  font-weight:600;
  color:rgba(0,0,0,1);
  line-height:30px;
  overflow: hidden;
  span {
    float: right;
    text-align: center;
  }
}

.part6 {
  width: 1200px;
  margin: 0 auto;
  ul {
    font-size:20px;
    font-weight:400;
    line-height:40px;
    list-style: none;
    padding-left: 26px;
    li {
      position: relative;
      padding-left: 23px;
      font-size: 22px;
      color: #282828;
      font-weight: bold;
      div {
        color: #282828;
        font-weight: 400;
        font-size: 20px;
      }
      &:before {
        content: '';
        position: absolute;
        width: 13px;
        height: 13px;
        border-radius: 100%;
        background: #000000;
        left: 0;
        top: 14px;
      }
    }
  }
}
