.headerWrapper {
  display: flex;
  width: 1177px;
  margin: 0 auto;
  justify-content: space-between;
}
.currentPage {
  //color: red;
}

.flagWrap {
  padding-top: 4px;
  img {
    margin-right: 4px;
  }
  .logo {
    height: 57px;
    margin-right: 16px;
  }
}

.menuWrap {
  display: flex;
  padding-top: 10px;
  a {
    margin-right: 16px;
    color: white !important;
    text-align: center;
    font-family: Titillium Web;
    font-weight: bold;
  }
  img {
    width: 20px;
    height: 20px;
    margin-left: 20px;
  }
}
