
.page {
  display: grid;
  grid-template-rows: 61px minmax(calc(100vh - 137px), auto) 76px;
}

.pageHome {
  background: url("../assets/home-banner.png") no-repeat top;
  background-size: 100% 805px;
  font-family:Titillium Web;
}
.page404 > div:first-child,
.page404 > div:last-child {
  display: none;
}
